.register-page-container {
  background-image: url('../../../assets/flatten.jpg'); /* Assuming this path is correct */
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 100vh;
  font-family: 'Anakotmai', sans-serif;
  z-index: 0;
  background-size: cover;
  background-attachment: fixed;
}

.register-card {
  background: white;
  padding: 40px;
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Slightly wider for more fields */
  width: 100%;
  text-align: center;
  z-index: 2;
}

.register-logo {
  margin-bottom: 20px;
}

.register-logo img {
  max-width: 250px; /* ปรับขนาดโลโก้ */
  height: auto;
}


.register-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.register-subtitle {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 30px;
}

/* Ant Design overrides */
.register-card .ant-input-affix-wrapper .ant-input,
.register-card .ant-input,
.register-card .ant-select-selector,
.register-card .ant-picker,
.register-card .ant-input-password {
  width: 100%;
  padding: 0px 12px; /* ลด padding เพื่อให้ cursor ไม่เกิน */
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 1em;
  height: 40px; /* ลดความสูงลงอีก */
  box-sizing: border-box;
}

.register-card .ant-form-item-label > label {
  font-size: 1.1em;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.register-form-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #FF8800;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form-button:hover {
  background-color: #fcb65f;
}

.back-link {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  color: #1890ff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.signin-link {
  margin-top: 20px;
  display: block;
  color: #1890ff;
}